# DATA COLLECTION

## CSV

In [23]:
#pip install encoding

In [4]:
import pandas as pd  
import encodings

In [6]:
l = encodings.aliases.aliases.keys()# dict - keys
l #keys are acting the encoders

dict_keys(['646', 'ansi_x3.4_1968', 'ansi_x3_4_1968', 'ansi_x3.4_1986', 'cp367', 'csascii', 'ibm367', 'iso646_us', 'iso_646.irv_1991', 'iso_ir_6', 'us', 'us_ascii', 'base64', 'base_64', 'big5_tw', 'csbig5', 'big5_hkscs', 'hkscs', 'bz2', '037', 'csibm037', 'ebcdic_cp_ca', 'ebcdic_cp_nl', 'ebcdic_cp_us', 'ebcdic_cp_wt', 'ibm037', 'ibm039', '1026', 'csibm1026', 'ibm1026', '1125', 'ibm1125', 'cp866u', 'ruscii', '1140', 'ibm1140', '1250', 'windows_1250', '1251', 'windows_1251', '1252', 'windows_1252', '1253', 'windows_1253', '1254', 'windows_1254', '1255', 'windows_1255', '1256', 'windows_1256', '1257', 'windows_1257', '1258', 'windows_1258', '273', 'ibm273', 'csibm273', '424', 'csibm424', 'ebcdic_cp_he', 'ibm424', '437', 'cspc8codepage437', 'ibm437', '500', 'csibm500', 'ebcdic_cp_be', 'ebcdic_cp_ch', 'ibm500', '775', 'cspc775baltic', 'ibm775', '850', 'cspc850multilingual', 'ibm850', '852', 'cspcp852', 'ibm852', '855', 'csibm855', 'ibm855', '857', 'csibm857', 'ibm857', '858', 'csibm858', 'ibm858', '860', 'csibm860', 'ibm860', '861', 'cp_is', 'csibm861', 'ibm861', '862', 'cspc862latinhebrew', 'ibm862', '863', 'csibm863', 'ibm863', '864', 'csibm864', 'ibm864', '865', 'csibm865', 'ibm865', '866', 'csibm866', 'ibm866', '869', 'cp_gr', 'csibm869', 'ibm869', '932', 'ms932', 'mskanji', 'ms_kanji', '949', 'ms949', 'uhc', '950', 'ms950', 'jisx0213', 'eucjis2004', 'euc_jis2004', 'eucjisx0213', 'eucjp', 'ujis', 'u_jis', 'euckr', 'korean', 'ksc5601', 'ks_c_5601', 'ks_c_5601_1987', 'ksx1001', 'ks_x_1001', 'gb18030_2000', 'chinese', 'csiso58gb231280', 'euc_cn', 'euccn', 'eucgb2312_cn', 'gb2312_1980', 'gb2312_80', 'iso_ir_58', '936', 'cp936', 'ms936', 'hex', 'roman8', 'r8', 'csHPRoman8', 'cp1051', 'ibm1051', 'hzgb', 'hz_gb', 'hz_gb_2312', 'csiso2022jp', 'iso2022jp', 'iso_2022_jp', 'iso2022jp_1', 'iso_2022_jp_1', 'iso2022jp_2', 'iso_2022_jp_2', 'iso_2022_jp_2004', 'iso2022jp_2004', 'iso2022jp_3', 'iso_2022_jp_3', 'iso2022jp_ext', 'iso_2022_jp_ext', 'csiso2022kr', 'iso2022kr', 'iso_2022_kr', 'csisolatin6', 'iso_8859_10', 'iso_8859_10_1992', 'iso_ir_157', 'l6', 'latin6', 'thai', 'iso_8859_11', 'iso_8859_11_2001', 'iso_8859_13', 'l7', 'latin7', 'iso_8859_14', 'iso_8859_14_1998', 'iso_celtic', 'iso_ir_199', 'l8', 'latin8', 'iso_8859_15', 'l9', 'latin9', 'iso_8859_16', 'iso_8859_16_2001', 'iso_ir_226', 'l10', 'latin10', 'csisolatin2', 'iso_8859_2', 'iso_8859_2_1987', 'iso_ir_101', 'l2', 'latin2', 'csisolatin3', 'iso_8859_3', 'iso_8859_3_1988', 'iso_ir_109', 'l3', 'latin3', 'csisolatin4', 'iso_8859_4', 'iso_8859_4_1988', 'iso_ir_110', 'l4', 'latin4', 'csisolatincyrillic', 'cyrillic', 'iso_8859_5', 'iso_8859_5_1988', 'iso_ir_144', 'arabic', 'asmo_708', 'csisolatinarabic', 'ecma_114', 'iso_8859_6', 'iso_8859_6_1987', 'iso_ir_127', 'csisolatingreek', 'ecma_118', 'elot_928', 'greek', 'greek8', 'iso_8859_7', 'iso_8859_7_1987', 'iso_ir_126', 'csisolatinhebrew', 'hebrew', 'iso_8859_8', 'iso_8859_8_1988', 'iso_ir_138', 'csisolatin5', 'iso_8859_9', 'iso_8859_9_1989', 'iso_ir_148', 'l5', 'latin5', 'cp1361', 'ms1361', 'cskoi8r', 'kz_1048', 'rk1048', 'strk1048_2002', '8859', 'cp819', 'csisolatin1', 'ibm819', 'iso8859', 'iso8859_1', 'iso_8859_1', 'iso_8859_1_1987', 'iso_ir_100', 'l1', 'latin', 'latin1', 'maccyrillic', 'macgreek', 'maciceland', 'maccentraleurope', 'mac_centeuro', 'maclatin2', 'macintosh', 'macroman', 'macturkish', 'ansi', 'dbcs', 'csptcp154', 'pt154', 'cp154', 'cyrillic_asian', 'quopri', 'quoted_printable', 'quotedprintable', 'rot13', 'csshiftjis', 'shiftjis', 'sjis', 's_jis', 'shiftjis2004', 'sjis_2004', 's_jis_2004', 'shiftjisx0213', 'sjisx0213', 's_jisx0213', 'tis620', 'tis_620_0', 'tis_620_2529_0', 'tis_620_2529_1', 'iso_ir_166', 'u16', 'utf16', 'unicodebigunmarked', 'utf_16be', 'unicodelittleunmarked', 'utf_16le', 'u32', 'utf32', 'utf_32be', 'utf_32le', 'u7', 'utf7', 'unicode_1_1_utf_7', 'u8', 'utf', 'utf8', 'utf8_ucs2', 'utf8_ucs4', 'cp65001', 'uu', 'zip', 'zlib', 'x_mac_japanese', 'x_mac_korean', 'x_mac_simp_chinese', 'x_mac_trad_chinese'])

In [8]:
len(l)

326

In [10]:
df = pd.read_csv(r"C:\Users\krish\Downloads\parseError.csv")

ParserError: Error tokenizing data. C error: Expected 2 fields in line 5, saw 3

# `parse Error`

In [5]:
df = pd.read_csv(r"C:\Users\krish\Downloads\parseError.csv",on_bad_lines='warn')

C:\Users\krish\AppData\Local\Temp\ipykernel_23700\1516630223.py:1: ParserWarning: Skipping line 5: expected 2 fields, saw 3

  df = pd.read_csv(r"C:\Users\krish\Downloads\parseError.csv",on_bad_lines='warn')

In [7]:
df = pd.read_csv(r"C:\Users\krish\Downloads\parseError.csv",on_bad_lines='error')

ParserError: Error tokenizing data. C error: Expected 2 fields in line 5, saw 3

In [9]:
df = pd.read_csv(r"C:\Users\krish\Downloads\parseError.csv",on_bad_lines='skip')
df

    Name  Age
0  'aaa'    34
1  'bbb'    36
2  'ccc'    78

# `Decoding Error`

In [13]:
df = pd.read_csv(r"C:\Users\krish\Downloads\spam.csv")

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 606-607: invalid continuation byte

In [48]:
l = encodings.aliases.aliases.keys()# dict - keys
l #keys are acting the encoders

dict_keys(['646', 'ansi_x3.4_1968', 'ansi_x3_4_1968', 'ansi_x3.4_1986', 'cp367', 'csascii', 'ibm367', 'iso646_us', 'iso_646.irv_1991', 'iso_ir_6', 'us', 'us_ascii', 'base64', 'base_64', 'big5_tw', 'csbig5', 'big5_hkscs', 'hkscs', 'bz2', '037', 'csibm037', 'ebcdic_cp_ca', 'ebcdic_cp_nl', 'ebcdic_cp_us', 'ebcdic_cp_wt', 'ibm037', 'ibm039', '1026', 'csibm1026', 'ibm1026', '1125', 'ibm1125', 'cp866u', 'ruscii', '1140', 'ibm1140', '1250', 'windows_1250', '1251', 'windows_1251', '1252', 'windows_1252', '1253', 'windows_1253', '1254', 'windows_1254', '1255', 'windows_1255', '1256', 'windows_1256', '1257', 'windows_1257', '1258', 'windows_1258', '273', 'ibm273', 'csibm273', '424', 'csibm424', 'ebcdic_cp_he', 'ibm424', '437', 'cspc8codepage437', 'ibm437', '500', 'csibm500', 'ebcdic_cp_be', 'ebcdic_cp_ch', 'ibm500', '775', 'cspc775baltic', 'ibm775', '850', 'cspc850multilingual', 'ibm850', '852', 'cspcp852', 'ibm852', '855', 'csibm855', 'ibm855', '857', 'csibm857', 'ibm857', '858', 'csibm858', 'ibm858', '860', 'csibm860', 'ibm860', '861', 'cp_is', 'csibm861', 'ibm861', '862', 'cspc862latinhebrew', 'ibm862', '863', 'csibm863', 'ibm863', '864', 'csibm864', 'ibm864', '865', 'csibm865', 'ibm865', '866', 'csibm866', 'ibm866', '869', 'cp_gr', 'csibm869', 'ibm869', '932', 'ms932', 'mskanji', 'ms_kanji', '949', 'ms949', 'uhc', '950', 'ms950', 'jisx0213', 'eucjis2004', 'euc_jis2004', 'eucjisx0213', 'eucjp', 'ujis', 'u_jis', 'euckr', 'korean', 'ksc5601', 'ks_c_5601', 'ks_c_5601_1987', 'ksx1001', 'ks_x_1001', 'gb18030_2000', 'chinese', 'csiso58gb231280', 'euc_cn', 'euccn', 'eucgb2312_cn', 'gb2312_1980', 'gb2312_80', 'iso_ir_58', '936', 'cp936', 'ms936', 'hex', 'roman8', 'r8', 'csHPRoman8', 'cp1051', 'ibm1051', 'hzgb', 'hz_gb', 'hz_gb_2312', 'csiso2022jp', 'iso2022jp', 'iso_2022_jp', 'iso2022jp_1', 'iso_2022_jp_1', 'iso2022jp_2', 'iso_2022_jp_2', 'iso_2022_jp_2004', 'iso2022jp_2004', 'iso2022jp_3', 'iso_2022_jp_3', 'iso2022jp_ext', 'iso_2022_jp_ext', 'csiso2022kr', 'iso2022kr', 'iso_2022_kr', 'csisolatin6', 'iso_8859_10', 'iso_8859_10_1992', 'iso_ir_157', 'l6', 'latin6', 'thai', 'iso_8859_11', 'iso_8859_11_2001', 'iso_8859_13', 'l7', 'latin7', 'iso_8859_14', 'iso_8859_14_1998', 'iso_celtic', 'iso_ir_199', 'l8', 'latin8', 'iso_8859_15', 'l9', 'latin9', 'iso_8859_16', 'iso_8859_16_2001', 'iso_ir_226', 'l10', 'latin10', 'csisolatin2', 'iso_8859_2', 'iso_8859_2_1987', 'iso_ir_101', 'l2', 'latin2', 'csisolatin3', 'iso_8859_3', 'iso_8859_3_1988', 'iso_ir_109', 'l3', 'latin3', 'csisolatin4', 'iso_8859_4', 'iso_8859_4_1988', 'iso_ir_110', 'l4', 'latin4', 'csisolatincyrillic', 'cyrillic', 'iso_8859_5', 'iso_8859_5_1988', 'iso_ir_144', 'arabic', 'asmo_708', 'csisolatinarabic', 'ecma_114', 'iso_8859_6', 'iso_8859_6_1987', 'iso_ir_127', 'csisolatingreek', 'ecma_118', 'elot_928', 'greek', 'greek8', 'iso_8859_7', 'iso_8859_7_1987', 'iso_ir_126', 'csisolatinhebrew', 'hebrew', 'iso_8859_8', 'iso_8859_8_1988', 'iso_ir_138', 'csisolatin5', 'iso_8859_9', 'iso_8859_9_1989', 'iso_ir_148', 'l5', 'latin5', 'cp1361', 'ms1361', 'cskoi8r', 'kz_1048', 'rk1048', 'strk1048_2002', '8859', 'cp819', 'csisolatin1', 'ibm819', 'iso8859', 'iso8859_1', 'iso_8859_1', 'iso_8859_1_1987', 'iso_ir_100', 'l1', 'latin', 'latin1', 'maccyrillic', 'macgreek', 'maciceland', 'maccentraleurope', 'mac_centeuro', 'maclatin2', 'macintosh', 'macroman', 'macturkish', 'ansi', 'dbcs', 'csptcp154', 'pt154', 'cp154', 'cyrillic_asian', 'quopri', 'quoted_printable', 'quotedprintable', 'rot13', 'csshiftjis', 'shiftjis', 'sjis', 's_jis', 'shiftjis2004', 'sjis_2004', 's_jis_2004', 'shiftjisx0213', 'sjisx0213', 's_jisx0213', 'tis620', 'tis_620_0', 'tis_620_2529_0', 'tis_620_2529_1', 'iso_ir_166', 'u16', 'utf16', 'unicodebigunmarked', 'utf_16be', 'unicodelittleunmarked', 'utf_16le', 'u32', 'utf32', 'utf_32be', 'utf_32le', 'u7', 'utf7', 'unicode_1_1_utf_7', 'u8', 'utf', 'utf8', 'utf8_ucs2', 'utf8_ucs4', 'cp65001', 'uu', 'zip', 'zlib', 'x_mac_japanese', 'x_mac_korean', 'x_mac_simp_chinese', 'x_mac_trad_chinese'])

In [37]:
len(l)

326

In [19]:
l = ['utf-8','latin','utf-16']
for y in l: 
    try: 
        df = pd.read_csv(r"C:\Users\krish\Downloads\spam.csv",encoding=y)  
        print('{} is not decoding'.format(y)) 
    except UnicodeDecodeError: 
        print('{} is not decoding'.format(y))

utf-8 is not decoding
latin is not decoding
utf-16 is not decoding

In [41]:
#l = ['utf-8','latin','utf-16']
for y in l: 
    try: 
        df = pd.read_csv(r"C:\Users\krish\Downloads\spam.csv",encoding=y)  
        print('{} is not decoding'.format(y)) 
    except UnicodeDecodeError: 
        print('{} is not decoding'.format(y))

646 is not decoding
ansi_x3.4_1968 is not decoding
ansi_x3_4_1968 is not decoding
ansi_x3.4_1986 is not decoding
cp367 is not decoding
csascii is not decoding
ibm367 is not decoding
iso646_us is not decoding
iso_646.irv_1991 is not decoding
iso_ir_6 is not decoding
us is not decoding
us_ascii is not decoding

LookupError: 'base64' is not a text encoding; use codecs.open() to handle arbitrary codecs

In [50]:
#l = ['utf-8','latin','utf-16']
for y in l: 
    try: 
        df = pd.read_csv(r"C:\Users\krish\Downloads\spam.csv",encoding=y)  
        print('{} is not decoding'.format(y)) 
    except UnicodeDecodeError: 
        print('{} is not decoding'.format(y))  
    except  LookupError: 
        print('{} is not decoding'.format(y))

646 is not decoding
ansi_x3.4_1968 is not decoding
ansi_x3_4_1968 is not decoding
ansi_x3.4_1986 is not decoding
cp367 is not decoding
csascii is not decoding
ibm367 is not decoding
iso646_us is not decoding
iso_646.irv_1991 is not decoding
iso_ir_6 is not decoding
us is not decoding
us_ascii is not decoding
base64 is not decoding
base_64 is not decoding
big5_tw is not decoding
csbig5 is not decoding
big5_hkscs is not decoding
hkscs is not decoding
bz2 is not decoding

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 3

In [64]:
#l = ['utf-8','latin','utf-16']
l1 = [] 
l2 = []
for y in l: 
    try: 
        df = pd.read_csv(r"C:\Users\krish\Downloads\spam.csv",encoding=y,on_bad_lines='skip')  
        print('{} is not decoding'.format(y))  
        l1.append(y)
    except UnicodeDecodeError: 
        print('{} is not decoding'.format(y))  
    except  LookupError: 
        print('{} is not decoding'.format(y))   
        l2.append(y)

646 is not decoding
ansi_x3.4_1968 is not decoding
ansi_x3_4_1968 is not decoding
ansi_x3.4_1986 is not decoding
cp367 is not decoding
csascii is not decoding
ibm367 is not decoding
iso646_us is not decoding
iso_646.irv_1991 is not decoding
iso_ir_6 is not decoding
us is not decoding
us_ascii is not decoding
base64 is not decoding
base_64 is not decoding
big5_tw is not decoding
csbig5 is not decoding
big5_hkscs is not decoding
hkscs is not decoding
bz2 is not decoding
037 is not decoding
csibm037 is not decoding
ebcdic_cp_ca is not decoding
ebcdic_cp_nl is not decoding
ebcdic_cp_us is not decoding
ebcdic_cp_wt is not decoding
ibm037 is not decoding
ibm039 is not decoding
1026 is not decoding
csibm1026 is not decoding
ibm1026 is not decoding
1125 is not decoding
ibm1125 is not decoding
cp866u is not decoding
ruscii is not decoding
1140 is not decoding
ibm1140 is not decoding
1250 is not decoding
windows_1250 is not decoding
1251 is not decoding
windows_1251 is not decoding
1252 is not decoding
windows_1252 is not decoding
1253 is not decoding
windows_1253 is not decoding
1254 is not decoding
windows_1254 is not decoding
1255 is not decoding
windows_1255 is not decoding
1256 is not decoding
windows_1256 is not decoding
1257 is not decoding
windows_1257 is not decoding
1258 is not decoding
windows_1258 is not decoding
273 is not decoding
ibm273 is not decoding
csibm273 is not decoding
424 is not decoding
csibm424 is not decoding
ebcdic_cp_he is not decoding
ibm424 is not decoding
437 is not decoding
cspc8codepage437 is not decoding
ibm437 is not decoding
500 is not decoding
csibm500 is not decoding
ebcdic_cp_be is not decoding
ebcdic_cp_ch is not decoding
ibm500 is not decoding
775 is not decoding
cspc775baltic is not decoding
ibm775 is not decoding
850 is not decoding
cspc850multilingual is not decoding
ibm850 is not decoding
852 is not decoding
cspcp852 is not decoding
ibm852 is not decoding
855 is not decoding
csibm855 is not decoding
ibm855 is not decoding
857 is not decoding
csibm857 is not decoding
ibm857 is not decoding
858 is not decoding
csibm858 is not decoding
ibm858 is not decoding
860 is not decoding
csibm860 is not decoding
ibm860 is not decoding
861 is not decoding
cp_is is not decoding
csibm861 is not decoding
ibm861 is not decoding
862 is not decoding
cspc862latinhebrew is not decoding
ibm862 is not decoding
863 is not decoding
csibm863 is not decoding
ibm863 is not decoding
864 is not decoding
csibm864 is not decoding
ibm864 is not decoding
865 is not decoding
csibm865 is not decoding
ibm865 is not decoding
866 is not decoding
csibm866 is not decoding
ibm866 is not decoding
869 is not decoding
cp_gr is not decoding
csibm869 is not decoding
ibm869 is not decoding
932 is not decoding
ms932 is not decoding
mskanji is not decoding
ms_kanji is not decoding
949 is not decoding
ms949 is not decoding
uhc is not decoding
950 is not decoding
ms950 is not decoding
jisx0213 is not decoding
eucjis2004 is not decoding
euc_jis2004 is not decoding
eucjisx0213 is not decoding
eucjp is not decoding
ujis is not decoding
u_jis is not decoding
euckr is not decoding
korean is not decoding
ksc5601 is not decoding
ks_c_5601 is not decoding
ks_c_5601_1987 is not decoding
ksx1001 is not decoding
ks_x_1001 is not decoding
gb18030_2000 is not decoding
chinese is not decoding
csiso58gb231280 is not decoding
euc_cn is not decoding
euccn is not decoding
eucgb2312_cn is not decoding
gb2312_1980 is not decoding
gb2312_80 is not decoding
iso_ir_58 is not decoding
936 is not decoding
cp936 is not decoding
ms936 is not decoding
hex is not decoding
roman8 is not decoding
r8 is not decoding
csHPRoman8 is not decoding
cp1051 is not decoding
ibm1051 is not decoding
hzgb is not decoding
hz_gb is not decoding
hz_gb_2312 is not decoding
csiso2022jp is not decoding
iso2022jp is not decoding
iso_2022_jp is not decoding
iso2022jp_1 is not decoding
iso_2022_jp_1 is not decoding
iso2022jp_2 is not decoding
iso_2022_jp_2 is not decoding
iso_2022_jp_2004 is not decoding
iso2022jp_2004 is not decoding
iso2022jp_3 is not decoding
iso_2022_jp_3 is not decoding
iso2022jp_ext is not decoding
iso_2022_jp_ext is not decoding
csiso2022kr is not decoding
iso2022kr is not decoding
iso_2022_kr is not decoding
csisolatin6 is not decoding
iso_8859_10 is not decoding
iso_8859_10_1992 is not decoding
iso_ir_157 is not decoding
l6 is not decoding
latin6 is not decoding
thai is not decoding
iso_8859_11 is not decoding
iso_8859_11_2001 is not decoding
iso_8859_13 is not decoding
l7 is not decoding
latin7 is not decoding
iso_8859_14 is not decoding
iso_8859_14_1998 is not decoding
iso_celtic is not decoding
iso_ir_199 is not decoding
l8 is not decoding
latin8 is not decoding
iso_8859_15 is not decoding
l9 is not decoding
latin9 is not decoding
iso_8859_16 is not decoding
iso_8859_16_2001 is not decoding
iso_ir_226 is not decoding
l10 is not decoding
latin10 is not decoding
csisolatin2 is not decoding
iso_8859_2 is not decoding
iso_8859_2_1987 is not decoding
iso_ir_101 is not decoding
l2 is not decoding
latin2 is not decoding
csisolatin3 is not decoding
iso_8859_3 is not decoding
iso_8859_3_1988 is not decoding
iso_ir_109 is not decoding
l3 is not decoding
latin3 is not decoding
csisolatin4 is not decoding
iso_8859_4 is not decoding
iso_8859_4_1988 is not decoding
iso_ir_110 is not decoding
l4 is not decoding
latin4 is not decoding
csisolatincyrillic is not decoding
cyrillic is not decoding
iso_8859_5 is not decoding
iso_8859_5_1988 is not decoding
iso_ir_144 is not decoding
arabic is not decoding
asmo_708 is not decoding
csisolatinarabic is not decoding
ecma_114 is not decoding
iso_8859_6 is not decoding
iso_8859_6_1987 is not decoding
iso_ir_127 is not decoding
csisolatingreek is not decoding
ecma_118 is not decoding
elot_928 is not decoding
greek is not decoding
greek8 is not decoding
iso_8859_7 is not decoding
iso_8859_7_1987 is not decoding
iso_ir_126 is not decoding
csisolatinhebrew is not decoding
hebrew is not decoding
iso_8859_8 is not decoding
iso_8859_8_1988 is not decoding
iso_ir_138 is not decoding
csisolatin5 is not decoding
iso_8859_9 is not decoding
iso_8859_9_1989 is not decoding
iso_ir_148 is not decoding
l5 is not decoding
latin5 is not decoding
cp1361 is not decoding
ms1361 is not decoding
cskoi8r is not decoding
kz_1048 is not decoding
rk1048 is not decoding
strk1048_2002 is not decoding
8859 is not decoding
cp819 is not decoding
csisolatin1 is not decoding
ibm819 is not decoding
iso8859 is not decoding
iso8859_1 is not decoding
iso_8859_1 is not decoding
iso_8859_1_1987 is not decoding
iso_ir_100 is not decoding
l1 is not decoding
latin is not decoding
latin1 is not decoding
maccyrillic is not decoding
macgreek is not decoding
maciceland is not decoding
maccentraleurope is not decoding
mac_centeuro is not decoding
maclatin2 is not decoding
macintosh is not decoding
macroman is not decoding
macturkish is not decoding
ansi is not decoding
dbcs is not decoding
csptcp154 is not decoding
pt154 is not decoding
cp154 is not decoding
cyrillic_asian is not decoding
quopri is not decoding
quoted_printable is not decoding
quotedprintable is not decoding
rot13 is not decoding
csshiftjis is not decoding
shiftjis is not decoding
sjis is not decoding
s_jis is not decoding
shiftjis2004 is not decoding
sjis_2004 is not decoding
s_jis_2004 is not decoding
shiftjisx0213 is not decoding
sjisx0213 is not decoding
s_jisx0213 is not decoding
tis620 is not decoding
tis_620_0 is not decoding
tis_620_2529_0 is not decoding
tis_620_2529_1 is not decoding
iso_ir_166 is not decoding
u16 is not decoding
utf16 is not decoding
unicodebigunmarked is not decoding
utf_16be is not decoding
unicodelittleunmarked is not decoding
utf_16le is not decoding
u32 is not decoding
utf32 is not decoding
utf_32be is not decoding
utf_32le is not decoding
u7 is not decoding
utf7 is not decoding
unicode_1_1_utf_7 is not decoding
u8 is not decoding
utf is not decoding
utf8 is not decoding
utf8_ucs2 is not decoding
utf8_ucs4 is not decoding
cp65001 is not decoding
uu is not decoding
zip is not decoding
zlib is not decoding
x_mac_japanese is not decoding
x_mac_korean is not decoding
x_mac_simp_chinese is not decoding
x_mac_trad_chinese is not decoding

In [62]:
l1 # those are working for csv

['037',
 'csibm037',
 'ebcdic_cp_ca',
 'ebcdic_cp_nl',
 'ebcdic_cp_us',
 'ebcdic_cp_wt',
 'ibm037',
 'ibm039',
 '1026',
 'csibm1026',
 'ibm1026',
 '1125',
 'ibm1125',
 'cp866u',
 'ruscii',
 '1140',
 'ibm1140',
 '1250',
 'windows_1250',
 '1251',
 'windows_1251',
 '1252',
 'windows_1252',
 '1256',
 'windows_1256',
 '1257',
 'windows_1257',
 '273',
 'ibm273',
 'csibm273',
 '437',
 'cspc8codepage437',
 'ibm437',
 '500',
 'csibm500',
 'ebcdic_cp_be',
 'ebcdic_cp_ch',
 'ibm500',
 '775',
 'cspc775baltic',
 'ibm775',
 '850',
 'cspc850multilingual',
 'ibm850',
 '852',
 'cspcp852',
 'ibm852',
 '855',
 'csibm855',
 'ibm855',
 '858',
 'csibm858',
 'ibm858',
 '860',
 'csibm860',
 'ibm860',
 '861',
 'cp_is',
 'csibm861',
 'ibm861',
 '862',
 'cspc862latinhebrew',
 'ibm862',
 '863',
 'csibm863',
 'ibm863',
 '864',
 'csibm864',
 'ibm864',
 '865',
 'csibm865',
 'ibm865',
 '866',
 'csibm866',
 'ibm866',
 '869',
 'cp_gr',
 'csibm869',
 'ibm869',
 'roman8',
 'r8',
 'cp1051',
 'ibm1051',
 'csisolatin6',
 'iso_8859_10',
 'iso_8859_10_1992',
 'iso_ir_157',
 'l6',
 'latin6',
 'iso_8859_13',
 'l7',
 'latin7',
 'iso_8859_14',
 'iso_8859_14_1998',
 'iso_celtic',
 'iso_ir_199',
 'l8',
 'latin8',
 'iso_8859_15',
 'l9',
 'latin9',
 'iso_8859_16',
 'iso_8859_16_2001',
 'iso_ir_226',
 'l10',
 'latin10',
 'csisolatin2',
 'iso_8859_2',
 'iso_8859_2_1987',
 'iso_ir_101',
 'l2',
 'latin2',
 'csisolatin4',
 'iso_8859_4',
 'iso_8859_4_1988',
 'iso_ir_110',
 'l4',
 'latin4',
 'csisolatincyrillic',
 'cyrillic',
 'iso_8859_5',
 'iso_8859_5_1988',
 'iso_ir_144',
 'csisolatin5',
 'iso_8859_9',
 'iso_8859_9_1989',
 'iso_ir_148',
 'l5',
 'latin5',
 'cskoi8r',
 'kz_1048',
 'rk1048',
 'strk1048_2002',
 '8859',
 'cp819',
 'csisolatin1',
 'ibm819',
 'iso8859',
 'iso8859_1',
 'iso_8859_1',
 'iso_8859_1_1987',
 'iso_ir_100',
 'l1',
 'latin',
 'latin1',
 'maccyrillic',
 'macgreek',
 'maciceland',
 'maccentraleurope',
 'mac_centeuro',
 'maclatin2',
 'macintosh',
 'macroman',
 'macturkish',
 'ansi',
 'dbcs',
 'csptcp154',
 'pt154',
 'cp154',
 'cyrillic_asian']

In [65]:
l2 # not support csv

['base64',
 'base_64',
 'bz2',
 'hex',
 'csHPRoman8',
 'quopri',
 'quoted_printable',
 'quotedprintable',
 'rot13',
 'uu',
 'zip',
 'zlib']

In [76]:
df = pd.read_csv(r"C:\Users\krish\Downloads\spam.csv",encoding='latin',on_bad_lines='skip') 
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will _ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

# out of the memory  Error

In [74]:
df = pd.read_csv(r"C:\Users\krish\Downloads\spam.csv",encoding='latin',on_bad_lines='skip',chunksize=100) 
df # [[],[],[].....]

In [81]:
files= pd.read_csv(r"C:\Users\krish\Downloads\spam.csv",encoding='latin',on_bad_lines='skip',chunksize=100)  
c = 0 
for chunks in files: 
    print(chunks.shape) 
    print('__'*50) 
    c+=1

(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(100, 5)
____________________________________________________________________________________________________
(72, 5)
____________________________________________________________________________________________________

In [83]:
c

56

# `polar` 
-  same as pandas but 100 times fater than pandas in data loading

In [49]:
!pip install polars

Requirement already satisfied: polars in c:\users\krish\anaconda3\lib\site-packages (1.14.0)

In [51]:
import polars

In [108]:
import time
x = time.time()
df = pd.read_csv(r"C:\Users\krish\Downloads\spam.csv",encoding='latin',on_bad_lines='skip')  
y = time.time()

In [110]:
y-x

0.02528834342956543

In [ ]:
import time
x = time.time()
df = polar.read_csv(r"C:\Users\krish\Downloads\spam.csv",encoding='latin',on_bad_lines='skip')  
y = time.time()

In [ ]:
y-x

# df to csv
- Always use exclusive mode (`mode = 'x'`)

#  `EXCEL`  
## `IS ACOLLECTION OF MULTIPLE SHEETS(SCV) IN ASINGLE FILE FORMAT IS KNOWN AS XLSL` 
- WE DONT HAVE THE ERROR OF
  - PARSE ERROR
  - UNICODE ERRROR

In [121]:
df[['v1','v2']].to_csv(r"C:\Users\krish\Downloads\spam1.csv",mode='x')

In [ ]:
df = pd.read_excel(r'')#

# dataframe to excel sheet

In [21]:
df1 = pd.read_excel(r"C:\Users\krish\Downloads\boosheet.xlsx") #by defult opens only one sheet 
df1

   1  aa
0  2  aa
1  3  aa
2  4  aa
3  5  aa

In [29]:
df1 = pd.read_excel(r"C:\Users\krish\Downloads\boosheet.xlsx",sheet_name=[0,1,2]) #by defult opens only one sheet  
# its acts like dictionary

In [27]:
df1

{0:    1  aa
 0  2  aa
 1  3  aa
 2  4  aa
 3  5  aa,
 1:    22  bb
 0  23  bb
 1  24  bb
 2  25  bb
 3  26  bb
 4  27  bb,
 2:    56  cc
 0  57  cc
 1  58  cc
 2  59  cc
 3  60  cc
 4  61  cc}

In [33]:
df1[0]

   1  aa
0  2  aa
1  3  aa
2  4  aa
3  5  aa

In [35]:
df1[1]

   22  bb
0  23  bb
1  24  bb
2  25  bb
3  26  bb
4  27  bb

In [39]:
df1[2]

   56  cc
0  57  cc
1  58  cc
2  59  cc
3  60  cc
4  61  cc

# `conversion of data `
#### frame to excel when when we multiple work shets in single file

In [61]:

with pd.ExcelWriter(r"C:\Users\krish\Downloads\booksheet1.xlsx") as f : 
    df1[0].to_excel(f,sheet_name ='stu_info1') 
    df1[1].to_excel(f,sheet_name ='stu_info2')
    df1[2].to_excel(f,sheet_name ='stu_info3')

# `json` and `xml` are yhe ouput of the ApI  
- json =  javascript object notation
- the format of json is dictionary

# `json to df`

In [121]:
x = '{"Name":["p1","p2"],"age":[23,24]}'
# key should be string

In [117]:
json_df = pd.read_json(x)

C:\Users\krish\AppData\Local\Temp\ipykernel_25620\390332263.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  json_df = pd.read_json(x)

In [102]:
x = '{1:["p1","p2"],2:[23,24]}'
# key should be string

In [125]:
pd.read_json(x)

C:\Users\krish\AppData\Local\Temp\ipykernel_25620\3219253177.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x)

  Name  age
0   p1   23
1   p2   24

# strutures of json 
- orien = 'index'

#  `df to json`

# ` case- 1`

In [140]:
x1 = json_df.to_json(orient='index') 
x1

'{"0":{"Name":"p1","age":23},"1":{"Name":"p2","age":24}}'

In [142]:
pd.read_json(json_file,orient='index')

C:\Users\krish\AppData\Local\Temp\ipykernel_25620\258631173.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(json_file,orient='index')

  Name  age
0   p1   23
1   p2   24

# `case -2`

In [146]:
x2= json_df.to_json(orient='columns') 
x2

'{"Name":{"0":"p1","1":"p2"},"age":{"0":23,"1":24}}'

In [170]:
pd.read_json(x2,orient='index') # in json file we change to index as column name

C:\Users\krish\AppData\Local\Temp\ipykernel_25620\409509128.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x2,orient='index') # in json file we change to index as column name

       0   1
Name  p1  p2
age   23  24

#

In [153]:
pd.read_json(x2,orient='columns')

C:\Users\krish\AppData\Local\Temp\ipykernel_25620\3923554702.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x2,orient='columns')

  Name  age
0   p1   23
1   p2   24

#  `case - 3`

In [159]:
x3 = json_df.to_json(orient='values') 
x3

'[["p1",23],["p2",24]]'

In [161]:
 pd.read_json(x3)

C:\Users\krish\AppData\Local\Temp\ipykernel_25620\3992187492.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x3)

    0   1
0  p1  23
1  p2  24

# `case - 4 `

In [164]:
x4 = json_df.to_json(orient='split') 
x4

'{"columns":["Name","age"],"index":[0,1],"data":[["p1",23],["p2",24]]}'

In [166]:
pd.read_json(x4)

C:\Users\krish\AppData\Local\Temp\ipykernel_25620\279622128.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x4)

  columns  index      data
0    Name      0  [p1, 23]
1     age      1  [p2, 24]

# `unstructured json`

In [173]:
x  = {"name":"p1","Mark":{"sem1":{"math":20,"hindi":20},"sem2":{"math":57,"hindi":78}}} # json unstructured data

In [179]:
pd.json_normalize(x,max_level=0)

  name                                               Mark
0   p1  {'sem1': {'math': 20, 'hindi': 20}, 'sem2': {'...

In [181]:
pd.json_normalize(x,max_level=1)

  name                  Mark.sem1                  Mark.sem2
0   p1  {'math': 20, 'hindi': 20}  {'math': 57, 'hindi': 78}

In [183]:
pd.json_normalize(x,max_level=2)

  name  Mark.sem1.math  Mark.sem1.hindi  Mark.sem2.math  Mark.sem2.hindi
0   p1              20               20              57               78

In [19]:
import pandas as pd

In [15]:
x  = {"name":{"p1":"kri"},"Mark":[{"sem1":70,"sem2":57}],"Age":{"a":{"b":78} }}

In [23]:
pd.json_normalize(x,record_path = ['mark'],meta = [["name","p1"],["age","a","b"]])

KeyError: "Key 'mark' not found. If specifying a record_path, all elements of data should have the path."

# `Semi Struture Data` 
- when we have `multiple key` use json `normalize technique`
-  when we have `single key` use json `read_json technique`

# `case - 1`

In [25]:
x = {"name":"krishna","marks":{"sem1":{"math":10,"physics":90},"sem2":{"math":10,"physics":90}}}

In [27]:
pd.json_normalize(x)

,name,marks.sem1.math,marks.sem1.physics,marks.sem2.math,marks.sem2.physics
0,krishna,10,90,10,90

In [32]:
pd.json_normalize(x,max_level=2)

,name,marks.sem1.math,marks.sem1.physics,marks.sem2.math,marks.sem2.physics
0,krishna,10,90,10,90

# `case - 2`

In [37]:
x = {"name":"krishna","marks":[{"hindi":70,"math":98}]}

In [43]:
pd.json_normalize(x,record_path=["marks"],meta = ["name"])

   hindi  math     name
0     70    98  krishna

# ` case - 3` 
- list of dicyionary

In [53]:
x1 = [{"name":"p1","Age":23,"gender":"F","mark":[{"Eng":49,"Math":90}]},{"name":"p2","Age":24,"gender":"M","mark":[{"Eng":49,"Math":90}]}]

In [55]:
pd.json_normalize(x1)

  name  Age gender                       mark
0   p1   23      F  [{'Eng': 49, 'Math': 90}]
1   p2   24      M  [{'Eng': 49, 'Math': 90}]

In [57]:
pd.json_normalize(x1,record_path=["mark"],meta = ["name","Age","gender"])

   Eng  Math name Age gender
0   49    90   p1  23      F
1   49    90   p2  24      M

#