In [1]:
import pandas as pd

In [17]:
pd.read_xml(r"C:\Users\krish\Downloads\Unconfirmed 592843.crdownload")

          Name  Age              Course
0       Anjali   21       Data Science
1       Ananya   22             DevOps
2  Krishnaveni   20       Data Science
3        Divya   21    Cloud Computing
4        Sriya   18  Python Development

In [19]:
pd.read_xml(r"C:\Users\krish\Downloads\d1.xml")

XMLSyntaxError: Specification mandates value for attribute length, line 3, column 20 (<string>, line 3)

In [23]:
pd.read_xml(r"C:\Users\krish\Downloads\far.xml",xpath='flo')

    sl   sw
0  0.7  0.8
1  0.7  0.8

In [25]:
pd.read_xml(r"C:\Users\krish\Downloads\far.xml",xpath='farmer')

   age   name
0   45   xxx
1   78    yyy

In [31]:
df1 = pd.read_xml(r"C:\Users\krish\Downloads\d2.xml") 
df1

    sl   sw     label
0  0.6  0.7    setosa
1  0.6  0.7  verginca
2  0.6  0.7    vasica

In [37]:
df1.to_xml(r"C:\Users\krish\Downloads\d4.xml",elem_cols=["sl","label"])

In [39]:
df1.to_xml(r"C:\Users\krish\Downloads\d5.xml",attr_cols=["sl","label"])